@model ProductModel

@{
    var ProductV = (ProductModel)ViewData["Product"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EFproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EFproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
</head>
<body>
    <br />
    <br />


<div class="wrapper">
    <form class="form-signin" asp-action="Edit" method="post" role="form">

        <h2 class="form-signin-heading" >Please edit details</h2>

       
        <input type="hidden" asp-for="Id" value=@ProductV.Id />
            
        <input type="text" class="form-control" asp-for="Name" placeholder="Name" value="@ProductV.Name"/>

        <input type="text" class="form-control" asp-for="Description" placeholder="Description" value="@ProductV.Description" required="" />

        <input type="text" class="form-control" asp-for="Category" placeholder="Category" value="@ProductV.Category" required="" />

        <input type="text" class="form-control" asp-for="Price" placeholder="Price" value="@ProductV.Price" required="" />

        <br />

            <button class="w3-button w3-teal w3-large" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" type="submit" value="Submit">UPDATE</button>
    </form>
        <div class="text-center">
            <br />

            <button type="button" class="w3-button" style="background-color:steelblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <a style="color:white;  text-decoration:none" href="/product/index">
            <i class="bi bi-arrow-left-short"></i>

            DASHBOARD
        </a>
    </button>
    </div>
</div>



</body>
</html>